*$py.class
*.[Rr]e[Ss]harper
*.backup
*.bak
*.cache
*.cachefile
*.cover
*.dbmdl
*.docstates
*.dotCover
*.DotSettings.user
*.egg
*.egg-info/
*.ilk
*.iobj
*.ipdb
*.localhistory/
*.log
*.manifest
*.meta
*.mo
*.ncrunch*
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.pot
*.py,cover
*.py[cod]
*.rsp
*.rsuser
*.sage.py
*.sbr
*.sdf
*.sln.docstates
*.sln.ide
*.so
*.spec
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.VisualState.xml
*.vsix
*.vspscc
*/*.pfx
*/bin/*
*/obj/*
*_h.h
*_i.asm
*_i.c
*_p.asm
*_p.c
.cache
.copilot
.copilot/
.coverage
.coverage.*
.dmypy.json
.DS_Store
.eggs/
.env
.hypothesis/
.idea/
.idea/*
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vs/
.vscode
.vscode/
.webassets-cache
/CheckBoxComboBox/CheckBoxComboBox/bin/Debug
/CheckBoxComboBox/CheckBoxComboBox/CheckBoxComboBox.csproj.user
/CheckBoxComboBox/DemoApp/bin/Debug
/CheckBoxComboBox/DemoApp/DemoApp.csproj.user
/gplex-distro-1.1.2/documentation
/gplex-distro-1.1.2/testfiles
/GUI/resources/Thumbs.db
/InnoScriptInstaller
/InnoScriptInstaller/InputlogInstaller.exe
/InstallatieWIN7WORD16/InputlogInstaller_71018.exe
/InstallatieWIN7WORD16/InputlogInstaller_71018.msi
/SecureDeployment/8.0.0.18
/site
/TEMP
[Aa][Rr][Mm]/
[Bb]in/
[Dd]ebug/
[Dd]ebugPS/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
__pycache__/
__pypackages__/
_ReSharper*/
artifacts/
BenchmarkDotNet.Artifacts/
bld/
build/
celerybeat.pid
celerybeat-schedule
Core/MathNet.Numerics.IO.dll.VisualState.xml
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
Debug/*
Desktop.ini
develop-eggs/
dist/
dlldata.c
dmypy.json
Doc/*/*.aux
Doc/*/*.bbl
Doc/*/*.blg
Doc/*/*.log
Doc/*/*.out
Doc/*/*.toc
Doc/Doxygen/*
docs/_build/
downloads/
eggs/
ehthumbs.db
env.bak/
ENV/
env/
htmlcov/
InputlogInstaller/Debug
InputlogInstaller/Release
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
node_modules/
nosetests.xml
Packages.dgml
packages/*
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
project.fragment.lock.json
project.lock.json
Release/*
ScaffoldingReadMe.txt
sdist/
share/python-wheels/
StyleCopReport.xml
target/
TestResult.xml
TestResults/
Thumbs.db
var/
venv.bak/
venv/
wheels/
x64/
x86/
/.vs/InputLog/v17/DocumentLayout.backup.json
