<?xml version="1.0" encoding="utf-8"?>
<!--GUI CONFIG-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="GUI.Properties.Options" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <GUI.Properties.Settings>
      <setting name="Workspace" serializeAs="String">
        <value />
      </setting>
      <setting name="SeperateMouseMovements" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MouseMovementPauseThreshold" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Record_OpenWith" serializeAs="String">
        <value>notepad</value>
      </setting>
      <setting name="Record_AnalysisDoneChoice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GroupedKeysList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="https://www.w3.org/2001/XMLSchema">
            <string>VK_LSHIFT</string>
            <string>VK_RSHIFT</string>
            <string>VK_LCONTROL</string>
            <string>VK_RCONTROL</string>
            <string>VK_SHIFT</string>
            <string>VK_CONTROL</string>
            <string>VK_LMENU</string>
            <string>VK_MENU</string>
            <string>VK_LEFT</string>
            <string>VK_RIGHT</string>
            <string>VK_UP</string>
            <string>VK_DOWN</string>
            <string>VK_HOME</string>
            <string>VK_END</string>
            <string>VK_PAUSE</string>
            <string>VK_ESCAPE</string>
            <string>VK_PRINT</string>
            <string>VK_NUMLOCK</string>
            <string>VK_SCROLL</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AutoHide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Analysis_RecognizeDoubleClicks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Analysis_DoubleClickThreshold" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PlayBarValue" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="Analysis_DestinationSubdirectory" serializeAs="String">
        <value>output</value>
      </setting>
      <setting name="StorePersonalMaxima" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Record_EventSelection" serializeAs="String">
        <value>0,1,2</value>
      </setting>
      <setting name="Record_PluginSelection" serializeAs="String">
        <value>0,1</value>
      </setting>
      <setting name="Record_LogFormat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HighPrecision" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StorePersonalOptima" serializeAs="String">
        <value>True</value>
      </setting>
    </GUI.Properties.Settings>
    <GUI.Properties.Options>
      <setting name="WorkspaceDir" serializeAs="String">
        <value />
      </setting>
      <setting name="WLOverride" serializeAs="String">
        <value>True</value>
      </setting>
    </GUI.Properties.Options>
  </userSettings>
  <applicationSettings>
    <GUI.Properties.Settings>
      <setting name="BalloonTipTimeOut" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="SessionStateFileName" serializeAs="String">
        <value>sessionstate</value>
      </setting>
      <setting name="PlayIntervalMin" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PlayIntervalMax" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Logfile_extension" serializeAs="String">
        <value>idfx</value>
      </setting>
      <setting name="Original_doc_appendix" serializeAs="String">
        <value>_original</value>
      </setting>
      <setting name="DefaultGroupedKeysList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="https://www.w3.org/2001/XMLSchema">
            <string>VK_LSHIFT</string>
            <string>VK_RSHIFT</string>
            <string>VK_LCONTROL</string>
            <string>VK_RCONTROL</string>
            <string>VK_SHIFT</string>
            <string>VK_CONTROL</string>
            <string>VK_LMENU</string>
            <string>VK_MENU</string>
            <string>VK_LEFT</string>
            <string>VK_RIGHT</string>
            <string>VK_UP</string>
            <string>VK_DOWN</string>
            <string>VK_HOME</string>
            <string>VK_END</string>
            <string>VK_PAUSE</string>
            <string>VK_ESCAPE</string>
            <string>VK_PRINT</string>
            <string>VK_NUMLOCK</string>
            <string>VK_SCROLL</string>
          </ArrayOfString>
        </value>
      </setting>
    </GUI.Properties.Settings>
  </applicationSettings>
  <appSettings> 

    <!-- LOCAL 
    <add key="InputLogServer" value="http://localhost:18477/" />
    -->
    <!-- UA SERVER  -->
    <add key="InputLogServer" value="https://inputlog.uantwerpen.be/WebSite/" /> 
    <add key="InputlogDownloadURL" value="https://www.inputlog.net/download_software.html" />
    <add key="InputlogHelpURL" value="https://www.inputlog.net/faq/" />
    <add key="InputlogTourURL" value="https://www.inputlog.net/overview/" />
    <add key="InputlogWebURL" value="https://www.inputlog.net/" />
    <add key="InputlogAboutURL" value="https://www.inputlog.net/overview/" />
    <add key="InputlogManualPdf" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf" />
    <add key="InputlogCopyTaskManual" value="https://www.inputlog.net/wp-content/uploads/Copy-task-construction_manual.pdf" />
    <add key="InputlogCopyTaskVariables" value="https://www.inputlog.net/overview-variable-names-in-copy-task-analysis-after-merge_update-may-2020/" />
    <add key="InputlogReportVariables" value="https://www.inputlog.net/wp-content/uploads/ReportingLabelsFull_March_2018.pdf" />
    <add key="MoreInfo_CT" value="https://www.inputlog.net/wp-content/uploads/Copy-task-construction_manual.pdf" />
    <add key="MoreInfo_LA" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=73" />
    <add key="MoreInfo_TA" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=108" />
    <add key="MoreInfo_SN" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=86" />
    <add key="MoreInfo_SU" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=79" />
    <add key="MoreInfo_SO" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=91" />
    <add key="MoreInfo_LG" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=101" />
    <add key="MoreInfo_BA" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=113" />
    <add key="MoreInfo_GA" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=57" />
    <add key="MoreInfo_GEA" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=62" />
    <add key="MoreInfo_PG" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=77" />
    <add key="MoreInfo_PA" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=83" />
    <add key="MoreInfo_FLUA" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=110" />
    <add key="MoreInfo_RM" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=88" />
    <add key="MoreInfo_WP" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf" />
    <add key="MoreInfo_time" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=37" />
    <add key="MoreInfo_event" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=39" />
    <add key="MoreInfo_window" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=40" />
    <add key="MoreInfo_recode" value="https://www.inputlog.net/wp-content/uploads/Inputlog_manual.pdf#page=41" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.8.0" newVersion="3.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
